body {
  color: $secondary;
  letter-spacing: 0.05rem;
  font-family: "Quicksand", sans-serif;
}

.profile {
  text-align: left;

  &__name {
    color: $primary;
    font-size: 2.5rem;

    @include breakpoint(medium) {
      font-size: 2.25rem;
    }

    @include breakpoint(small) {
      font-size: 1.85rem;
    }
  }

  &__role {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.35rem;

    @include breakpoint(small) {
      font-size: 1.15rem;
    }
  }

  &__intro {
    line-height: 1.5;

    @include breakpoint(small) {
      font-size: 0.975rem;
    }
  }

  @include breakpoint(medium) {
    text-align: center;
  }
}

.project {
  &__title {
    color: $primary;
    text-align: center;
    font-size: 1.125rem;
  }

  &__name {
    font-size: 0.875rem;

    ~ span {
      font-size: 0.6875rem;
    }
  }
}

.portfolio {
  &__footer {
    > span {
      text-align: center;
      font-size: 0.875rem;
    }
  }
}
